#pokeName{
    margin-top: 60px;
    display: flex;
    font-size: 60px;
    justify-content: center;
    font-style: italic;
    color: aliceblue
}

#pokeType{
    display: flex;
    font-size: 40px;
    color: aliceblue;
    justify-content: center;
}

#pokedexNo{
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: aliceblue;
  

}

#pokemonPic{
    margin-right: 10px;
    border: 20px;
    border-color: aliceblue;
}

#pokeInfo{
    border-radius: 1rem;
    background-color: #ffcd05d0;
    color: #3466AF;
    height: 290px;
}

#stats-pic-section{
    display: flex;
    justify-content: center;
    border: 15px;
}

body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}