#pokeName{
    /* margin-top: 60px; */
    display: flex;
    font-size: 60px;
    justify-content: center;
    font-style: italic;
}

#pokeType{
    display: flex;
    font-size:40px;
    justify-content: center;
}

#pokedexNo{
    display: flex;
    font-size: 40px;
    justify-content: center; 

}

#header{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    max-width: fit-content;
    text-align: center;
    margin: auto;
    background-color: #3465afe8;
    color:#ffcd05d0;
    border-radius: 1rem;
    margin-bottom: 20px;
}


#pokemonPic{
    margin-right: 10px;
    border: 20px;
    border-color: aliceblue;
}

#pokeInfo{
    border-radius: 1rem;
    background-color: #3466AF;;
    color: #ffcd05d0;
    height: fit-content;
}

#stats-pic-section{
    display: flex;
    justify-content: center;
    border: 15px;
}

body{
    background-image: url('pikachu.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}